@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
*{
    margin: 0;
    padding: 0;

}



header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgb(87, 161, 87);
}

#titulo_header{
    font-family: 'Nerko One', cursive;
    margin: 0.5vh 1vw;
    font-size: 5vw;
}

#busca_header{
    margin: 0.5vh 1vw;
    width: 80vw;
    height: 3vh;
}

footer{
    height: 5vw;
    width:100vw;
    background-color: rgb(87, 161, 87);
}