@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #4d8f4d86;
}

#imagem_portfolio{

   width: 250px;
   border-radius: 100px;
   display: inline;
   /* z-index: -1; */
    
}

h1{
    display: inline-block;
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;    
}


#posicionamento{
    display: inline-block;    
    margin: -500px 150px 150px 150px;
    
}

.cabecalho{
    display: inline;      
    margin: -5px;
    position: center;    
    /* z-index: +1; */
}

#pagina_inicial{
    text-decoration: none;
    display: inline;
    padding: 10px;    
    border-left: 5px groove;
    border-top: 5px groove;
    border-bottom: 5px groove;
}

#sobre-mim{
    text-decoration: none;
    display: inline;
    padding: 10px;   
    border-left: 3px groove;
    border-right: 3px groove;
    border-top: 5px groove;
    border-bottom: 5px groove;
}

#projetos{
    text-decoration: none;
    display: inline;
    padding: 10px;        
    /* border-right: 3px groove; */
    border-top: 5px groove;
    border-bottom: 5px groove;
}

#contato{
    text-decoration: none;
    display: inline;
    padding: 10px;        
    border-left: 3px groove;
    border-right: 5px groove;
    border-top: 5px groove;
    border-bottom: 5px groove;
    
}

.caixa{
    padding: 20px;
    margin: -10px 200px;
    width: 300px;
    display: inline-block;    
}

.caixa .caixa_desenvolvedor {
    border-radius: 50px;
    border: 5px outset;
    padding: 10px;
    background: rgba(124, 124, 255, 0.815);   
    text-align: center;
}



.caixa .caixa_engenharia{
    border-radius: 50px;
    border: 5px outset;
    padding: 10px;
    background: rgba(47, 122, 47, 0.781);
    text-align: center;
}

li{
   text-align: left; 
}

